.cardList {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-right: auto;
  margin-left: auto;
  row-gap: 10px;
  margin-bottom: 15px;
  li {
    list-style: none;
  }
}
