.header {
  img {
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 40px;
    height: 40px;
  }
  div {
    font-size: 18px;
    font-weight: 500;
  }
}
