.btnContainer {
  display: flex;
  justify-content: flex-end;
  button {
    background-color: #7b84d3;
    color: rgb(255, 255, 255);
    font-weight: 400;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    margin: 25px;
  }
}
