.title {
  font-size: 14px;
  height: 50px;
  color: rgb(65, 65, 65);
}

.card {
  border: 3px solid rgb(138, 138, 138);
  border-radius: 10px;
  padding: 10px;
  width: 240px;
  height: 410px;
  &:hover {
    border: 3px solid rgb(65, 65, 65);
  }
  img {
    width: 100%;
    height: 100%;
  }
  span {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    .closeBtn {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
    }
  }
}
.btnContainer {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .favorite {
    stroke: rgb(138, 138, 138);
    cursor: pointer;
  }
  .favorite:hover {
    stroke: rgb(65, 65, 65);
  }
  span {
    margin-left: 7px;
    font-size: 12px;
    color: rgb(65, 65, 65);
  }
}
.priceContainer {
  padding: 5px;
  display: flex;
  justify-content: space-between;

  .price {
    font-size: 18px;
    font-weight: 700;
    color: rgb(65, 65, 65);
  }
  button {
    border: none;
    border-radius: 12px;
    background-color: rgb(65, 65, 65);
    color: #fff;
    font-size: 14px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
  }
}
